<h1>login</h1>
<form action="/login" method="POST">
    User: <input type="text" name="username"><br>
    Password: <input type="text" name="password">
    <input type="submit" value="Submit">
</form>